*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {

    display: grid;
    height: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "se1 se1 se1"
    "se2 se2 se2"
    "ar1 ar2 ar3"
    ;
}

#mainh1 {
    color: white;
    list-style: none;
    text-decoration: none;
}

a {
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background: black;
    grid-area: hea;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    height: 100px;
}


#section_1 {
    grid-area: se1;
    background-color: brown;
    height: 450px;
}

#section_2 {
    grid-area: se2;
    background-color: blue;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
}
   

#article_1 {
    grid-area: ar1;
    background-color: aqua;
    height: 500px;
    margin: 70px;

}

#article_2 {
    grid-area: ar2;
    background-color: antiquewhite;
    height: 500px;
    margin: 70px;

}

#article_3 {
    grid-area: ar3;
    background-color: black;
    height: 500px;
    margin: 70px;
}


footer{
    height: 50px;
}