*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
    
    --background_color: white;
}
#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}

.links_visible {
    transform: translateY(500px);
}

#link_list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: left;
}

#link_list a:hover {
    background: black;
    color: black;
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: black;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#burger {
    margin-left: 50px;
    margin-right: 450px;
    cursor: pointer;
}

#grid_wrapper {

    display: grid;
    height: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "se1 se1 se1"
    "se2 se2 se2"
    "ar1 ar2 ar3"
    ;
}

#mainh1 {
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

a {
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: var(--background_color);
    grid-area: hea;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    height: 100px;
    flex-direction: row-reverse;
}


#section_1 {
    grid-area: se1;
    background-image: url(../img/hotell1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;

    
}

#section_2 {
    grid-area: se2;
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.75rem;
    color: black;
    justify-content: bottom;
    font-style: italic;
}
   
 #article_1 {
    display: flex;
    grid-area: ar1;
    background-color: aqua;
    height: 500px;
    margin: 60px;
    background-image: url(../img/pool.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic
    
}

#article_2 {
    
    display: flex;
    grid-area: ar2;
    background-color: antiquewhite;
    height: 500px;
    margin: 60px; 
    background-image: url(../img/gym.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic

}

#article_3 {

    display: flex;
    grid-area: ar3;
    background-color: black;
    height: 500px;
    margin: 60px;
    background-image: url(../img/restaurang.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic
    
}


footer{
    background-color: aqua;
    height: 5rem;
}

#hela {
    display: flex;
    flex-direction: column;
}
