*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
    
    --background_color: white;
}
#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}

.links_visible {
    transform: translateY(500px);
}

#link_list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
}

#link_list a:hover {
    background: white;
    color: rgb(209, 209, 28);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: black;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#burger {
    margin-left: 50px;
    margin-right: 450px;
    cursor: pointer;
}

#grid_wrapper {

    display: grid;
    height: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "se1 se1 se1"
    "se2 se2 se2"
    "ar1 ar2 ar3"
    ;
}

#button {
    position: absolute;
    top: 55%;
    left: 45%;
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 30px;
}

#mainh1 {
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

a {
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: var(--background_color);
    grid-area: hea;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    height: 100px;
    flex-direction: row-reverse;
}


#section_1 {
    grid-area: se1;
    background-image: url(../img/hotell1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    
    
}

#section_2 {
    grid-area: se2;
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.75rem;
    color: black;
}
   
 #article_1 {
    display: flex;
    grid-area: ar1;
    background-color: aqua;
    height: 500px;
    margin: 60px;
    background-image: url(../img/pool.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic;
    border-radius: 10px;
    
}

#article_2 {
    
    display: flex;
    grid-area: ar2;
    background-color: antiquewhite;
    height: 500px;
    margin: 60px; 
    background-image: url(../img/gym.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic;
    border-radius: 10px;

}

#article_3 {

    display: flex;
    grid-area: ar3;
    background-color: black;
    height: 500px;
    margin: 60px;
    background-image: url(../img/restaurang.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    font-style: italic;
    border-radius: 10px;
    
}

footer{
    background-color: lightyellow;
    height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#hela {
    display: flex;
    flex-direction: column;
}

#grid_wrapper2 {

        display: grid;
        height: 1900px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "se1"
        "se2"
        "se3"
        "se4"
        "se5"
        ;
    }
    
    #mainh1 {
        color: black;
        list-style: none;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
      
    }
    
    a {
        list-style: none;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    header {
        background-color: var(--background_color);
        grid-area: hea;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        height: 100px;
        flex-direction: row-reverse;
    }
    
    
    #section1 {
        grid-area: se1;
        background-image: url(../img/restaurang1.jpg);
        background-position: center;
        background-size: cover;
        height: 500px;
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        font-style: italic;
        color: white;
        
    }
    
    #section2 {
        grid-area: se2;
        background-color: white;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        font-size: 40px;
        color: black;

    }
       
     #section3 {
        
        display: flex;
        grid-area: se3;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        font-style: italic
        
    }
    
    #section4 {
        
        display: flex;
        grid-area: se4;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 25px;
        justify-content: center;
        font-style: italic;
        text-align: center;
    
    }
    
    #section5 {
    
        display: flex;
        grid-area: se5;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 25px;
        justify-content: center;
        font-style: italic;
        text-align: center;
        
    }
    
    footer{
        background-color: lightyellow;
        height: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }

    #grid_wrapper3 {

        display: grid;
        height: 1400px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "se1 se2"
        "se3 se4"
        "se5 se6"
        ;
    }
    
    #mainh1 {
        color: black;
        list-style: none;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
      
    }
    
    a {
        list-style: none;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    header {
        background-color: var(--background_color);
        grid-area: hea;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        height: 100px;
        flex-direction: row-reverse;
    }
    
    
    #section1_3 {
        grid-area: se1;
        background-image: url(../img/pool.jpg);
        background-position: center;
        background-size: cover;
        height: 400px;
        margin: 30px;
        
    }
    
    #section2_3 {
        grid-area: se2;
        background-color: white;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: center;
        color: black;
        font-style: italic;
        

    }
       
     #section3_3 {
        
        display: flex;
        grid-area: se3;
        height: 400px;
        background-image: url(../img/gym.jpg);
        background-position: center;
        background-size: cover;
        margin: 30px;
    }
    
    #section4_3 {
        
        display: flex;
        grid-area: se4;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        align-items: center;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        font-style: italic;
    
    }
    
    #section5_3 {
    
        display: flex;
        grid-area: se5;
        height: 400px;
        background-image: url(../img/restaurang1.jpg);
        background-position: center;
        background-size: cover;
        margin: 30px;
    
    }

    #section6_3 {
    
        display: flex;
        grid-area: se6;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: 25px;
        justify-content: center;
        font-style: italic;
        text-align: center;
        align-items: center;
        
    }
    
    footer{
        background-color: lightyellow;
        height: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }

    #grid_wrapper4 {

        display: grid;
        height: 1350px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "se1 se1 se2"
        "se3 se3 se4"
        "se5 se5 se6"
        ;
    }
    
    #mainh1 {
        color: black;
        list-style: none;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
      
    }
    
    a {
        list-style: none;
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    header {
        background-color: var(--background_color);
        grid-area: hea;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        height: 100px;
        flex-direction: row-reverse;
    }
    
    
    #section1_4 {
        grid-area: se1;
        height: 350px;
        margin: 50px;
    }

    #section2_4 {
        display: flex;
        grid-area: se2;
        height: 250px;
        background-image: url(../img/hotellrum1.jpg);
        background-position: center;
        background-size: cover;
        margin: 50px;
        margin-right: 100px;
        padding: 150px;
        margin-bottom: 20px;
    
    }
       
     #section3_4 {
        display: flex;
        grid-area: se3;
        height: 400px;
        justify-content: left;
        font-size: 20px;
        margin-left: 120px;
    
    }

    
    #section4_4 {

        display: flex;
        grid-area: se4;
        height: 250px;
        background-image: url(../img/rum2.jpg);
        background-position: top;
        background-size: cover;
        margin-right: 100px;
        padding: 150px;
        margin-left: 50px;
    }

    #section5_4 {
        
        display: flex;
        grid-area: se5;
        height: 250px;
        background-image: url(../img/heart1.jpg);
        background-position: center;
        background-size: cover;
    }

    #section6_4 {
        
        display: flex;
        grid-area: se6;
        height: 250px;
        background-image: url(../img/sovrum3.jpg);
        background-position: top;
        background-size: cover;
        margin-right: 100px;
        padding: 120px;
        margin-left: 50px;
    
    }
    
    footer{
        background-color: lightyellow;
        height: 5rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }


    /* telefonanpassning */

    @media only screen and (max-width: 600px) {
       
    
        #grid_wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "hea"
                "se1"
                "se2"
                "ar1"
                "ar2"
                "ar3"
                "foo";
        }

        header {
            grid-area: hea;
            flex-direction: column;
            margin-top: 25px;
        }

        #link_list {
            display: flex;
            flex-direction: row;
            position: static;
            height: auto;
            width: auto;
            margin-top: 20px;
        }
    
        #link_list a {
            width: auto;
            padding: 5px;
            font-size: 15px;
        }
    
        #burger {
            display: none;
        }    
    
        #section_1, #article_1, #article_2, #article_3 {
            height: 225px;
            margin: 17.5px;
        }
    
        #button {
            top: auto;
            left: auto;
            margin: 160px;
            display: block;
            text-align: center;
            font-size: 20px;
        }

        #footer {

            grid-area: foo;
            background-color: lightyellow;
            height: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            display:flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
        }
    
        #grid_wrapper2 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "hea"
            "se1"
            "se2"
            "se3"
            "se4"
            "se5"
            "foo"
            ;
        }

        header {
            grid-area: hea;
            flex-direction: column;
            margin-top: 25px;
        }

        #link_list {
            display: flex;
            flex-direction: row;
            position: static;
            height: auto;
            width: auto;
            margin-top: 20px;
        }
    
        #link_list a {
            width: auto;
            padding: 5px;
            font-size: 15px;
        }
    
        #burger {
            display: none;
        }    
    
        #section_1, #article_1, #article_2, #article_3 {
            height: 225px;
            margin: 17.5px;
        }
    
        #footer {

            grid-area: foo;
            background-color: lightyellow;
            height: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            display:flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
        }
        
        #grid_wrapper3 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "hea"
            "se1" 
            "se2"
            "se3" 
            "se4"
            "se5" 
            "se6"
            "foo"
            ;
        }

        header {
            grid-area: hea;
            flex-direction: column;
            margin-top: 25px;
        }

        #link_list {
            display: flex;
            flex-direction: row;
            position: static;
            height: auto;
            width: auto;
            margin-top: 20px;
        }
    
        #link_list a {
            width: auto;
            padding: 5px;
            font-size: 15px;
        }
    
        #burger {
            display: none;
        }    
    
        #section1_3, #section2_3, #section3_3, #section4_3, #section5_3, #section6_3 {
            height: 225px;
            font-size: 20px;
            margin: 5px;
        }

        #footer {

            grid-area: foo;
            background-color: lightyellow;
            height: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            display:flex;
            justify-content: space-around;
            align-items: center;
            font-size: 10px;
        }

         #grid_wrapper4 {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "hea"
                "se1"
                "se2"
                "se3"
                "se4"
                "se5"
                "foo";            
            }
    
            header {
                grid-area: hea;
                flex-direction: column;
                margin-top: 25px;
            }

            #link_list {
                display: flex;
                flex-direction: row;
                position: static;
                height: auto;
                width: auto;
                margin-top: 20px;
            }
        
            #link_list a {
                width: auto;
                padding: 5px;
                font-size: 15px;
            }
        
            #burger {
                display: none;
            }    


        #section1_4 {
            grid-area: se1;
            height: auto;
            margin: 0px;
            margin-top: 10px;
        }
        
        #section2_4 {
            grid-area: se3;
            height: 40px;
            margin: 10px;
            align-items: center;
        }
        
        #section3_4 {
            grid-area: se2;
            height: 40px;
            margin: 15px;
            align-items: center;
        }
        
        #section4_4 {
            grid-area: se4;
            height: 40px;
            margin: 10px;
            align-items: center;
        }
        
        #section6_4 {
            grid-area: se5;
            height: 40px;
            margin: 10px;
            align-items: center;
        }

            #footer {

                grid-area: foo;
                background-color: lightyellow;
                height: 20px;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                display:flex;
                justify-content: space-around;
                align-items: center;
                font-size: 10px;
            }
    }
        